.tituloprincipal{
    padding-left: 30px;
}
#banner{
    width: 100%;
}

.principal{
    background: #cccccc;
    padding: 20px;
}

.titulocentralizado{
    text-align: center;
}

p{
    text-align: center;
    background: #cccccc;
}

#mision {
    font-size: 25;
}

em strong{
    color: red;
}

.diferenciales{
    background: #ffffff;
    padding: 30px;
}



.items {
    font-style: italic;
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagendiferenciales{
    width: 50%;
    
}

